.calendarBody {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
}

.day {
  width: 100px;
  text-align: center;
  padding: 9.6px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid;
  margin: -1px -1px -1px -1px;
  transition: 300ms;
}

.day:hover {
  cursor: pointer;
  transition-delay: 100ms;
}
