.day{
    text-align: center;
    padding: 15px;
    border: 2px solid;
    margin-top: -20px;
    transition: 300ms 
}

.day:hover{
    cursor: pointer;
    background-color: rgba(184, 180, 180, 0.786);
    transition-delay: 100ms;
}